.tabs .photo-item img {
    max-height: 200px;
    width:auto;
}

.sidebar {
    margin-left: 60px;
}
.sidebar .twitter-timeline {
    margin-bottom: 60px;
}
.sidebar .sb-title {
    font-family: 'Dosis', sans-serif;
    font-size: 18px;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #405266;
}
.sidebar .contributors .contr-item {
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.sidebar .contributors a .contr-item:hover {
    background-color: #233a50;
}
.sidebar .contributors .contr-item img {
    margin-right: 20px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.sidebar .contributors .contr-item h6,
.sidebar .contributors .contr-item span {
    font-family: 'Dosis', sans-serif;
    font-size: 14px;
}
.sidebar .contributors a .contr-item:hover h6,
.sidebar .contributors a .contr-item:hover span {
    color: #dcf836;
}
.sidebar .contributors .contr-item h6 {
    color: #ffffff;
    text-transform: none;
    font-weight: bold;
}
.sidebar .contributors .contr-item span {
    color: #abb7c4;
    text-transform: uppercase;
}
.sidebar .contributors a.btn {
    font-family: 'Dosis', sans-serif;
    font-size: 14px;
    color: #abb7c4;
    font-weight: bold;
    text-transform: uppercase;
}
.sidebar .contributors a.btn i {
    margin-left: 5px;
}
.sidebar .contributors a.btn:hover {
    color: #dcf836;
}
@media (max-width: 767px) {
    .sidebar .sb-facebook {
        overflow: hidden;
    }
}
.wrapper{
    width:100%;
    padding-top: 20px;
    text-align:center;
}
