.ht-footer {
    color: white;
    text-align: center;
    padding: 20px 0;
    font-family: 'Arial', sans-serif;
    background-color: rgba(15, 33, 51, 0.8);
    margin-top: 20px;
}

.footer-socials {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.social-links {
    margin: 0 10px;
    font-size: 24px;
    color: white;
    transition: color 0.3s ease;
    display: inline-block; 
}

.social-links:hover {
    color: #dcf836;
}

.footer-nav {
    margin-bottom: 15px;
}

.footer-nav a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s ease;
}

.footer-nav a:hover {
    color: #dcf836;
}

.footer-legal {
    font-size: 12px;
    color: white;
}

.footer-legal a {
    
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s ease;
}


@media (max-width: 767px) {
  .footer-socials {
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }

  .footer-socials a {
    font-size: 18px;
    margin: 0 5px;
  }

  .footer-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
  }

  .footer-nav a {
    font-size: 13px;
  }

  .footer-legal p {
    font-size: 11px;
    text-align: center;
    padding: 0 15px;
    line-height: 1.4;
  }
}
