.flex-wrap-specieslist {
  margin-right: -30px;
  display: grid;
  min-height: 500px; 
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 991px) {
  .flex-wrap-specieslist{
    margin-right: 10px;
  }
}
@media (max-width: 767px) {
  .flex-wrap-specieslist {
    max-width: 200px;
    margin: 0 auto;
  }
}

.loader-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  width: 100%;
}

.no-results-wrapper {
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 40px;
  width: 100%;
}

.no-results-message {
  color: #fff;
  font-size: 18px;
  opacity: 0.85;
  
}
